<div class="container center-block">
    <div>
         <form name="complaintForm">
            <div class="col-md-5 col-md-offset-3">
                <fieldset>
                    <form class="form-control">
                        <select ng-model="complaint.queixa">
                            <option value="">Selecione uma queixa</option>
                            <option value="ALIMENTAR">Alimentar</option>
                            <option value="ANIMAL">Animal</option>
                            <option value="SERVICO_GERAL">Serviço Geral</option>
                        </select>
                    </form>
                </fieldset>
                <fieldset>
                    <legend>Dados da Queixa</legend>
                    <!--Description field-->
                    <div class="form-group row">
                        <label for="inputDescription" class="col-sm-2 col-form-label">Descrição:</label>
                        <div class="col-sm-10">
                            <textarea class="form-control" name="description" id="inputDescription" ng-model="complaint.descricao"></textarea>
                        </div>
                    </div>
                </fieldset>
                <fieldset>
                    <legend>Dados do solicitante</legend>
                    <!--Name field-->
                    <div class="form-group row">
                        <label for="inputName" class="col-sm-2 col-form-label">Nome:</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" name="name" id="inputName" ng-model="complaint.solicitante.nome"
                            placeholder="Nome">
                        </div>
                    </div>
                    <!--Email field-->
                    <div class="form-group row">
                        <label for="inputEmail" class="col-sm-2 col-form-label">Email:</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" name="email" id="inputEmail" ng-model="complaint.solicitante.email"
                            placeholder="Email">
                        </div>
                    </div>

                     <div ng-if="complaint.queixa == 'ALIMENTAR'">
                        <legend>Queixa Alimentar</legend>
                        <!--Establishment field-->
                        <div class="form-group row">
                            <label for="inputEstabelecimento" class="col-sm-2 col-form-label">Estabelec.:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="estabelecimento" id="inputEstabelecimento" ng-model="complaint.solicitante.endereco.uf" placeholder="Estabelecimento"> <!--Tem que alterar o ng-model-->
                            </div>
                        </div>
                        <!--Street field-->
                        <div class="form-group row">
                            <label for="inputStreet" class="col-sm-2 col-form-label">Rua:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="street" id="inputStreet" ng-model="complaint.solicitante.endereco.rua" placeholder="Rua">
                            </div>
                        </div>
                        <!--City field-->
                        <div class="form-group row">
                            <label for="inputCity" class="col-sm-2 col-form-label">Cidade:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="city" id="inputCity" ng-model="complaint.solicitante.endereco.cidade" placeholder="Cidade">
                            </div>
                        </div>
                        <!--UF field-->
                        <div class="form-group row">
                            <label for="inputUf" class="col-sm-2 col-form-label">UF:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="uf" id="inputUf" ng-model="complaint.solicitante.endereco.uf" placeholder="UF">
                            </div>
                        </div>
                    </div>
                    <div ng-if="complaint.queixa == 'ANIMAL'">
                        <legend>Queixa Animal</legend>
                        <!--Animal field-->
                        <div class="form-group row">
                            <label for="inputAnimal" class="col-sm-2 col-form-label">Animal:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="animal" id="inputAnimal" ng-model="complaint.solicitante.endereco.uf" placeholder="Animal"> <!--Tem que alterar o ng-model-->
                            </div>
                        </div>
                        <!--Street field-->
                        <div class="form-group row">
                            <label for="inputStreet" class="col-sm-2 col-form-label">Rua:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="street" id="inputStreet" ng-model="complaint.solicitante.endereco.rua" placeholder="Rua">
                            </div>
                        </div>
                        <!--City field-->
                        <div class="form-group row">
                            <label for="inputCity" class="col-sm-2 col-form-label">Cidade:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="city" id="inputCity" ng-model="complaint.solicitante.endereco.cidade" placeholder="Cidade">
                            </div>
                        </div>
                        <!--UF field-->
                        <div class="form-group row">
                            <label for="inputUf" class="col-sm-2 col-form-label">UF:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="uf" id="inputUf" ng-model="complaint.solicitante.endereco.uf" placeholder="UF">
                            </div>
                        </div>
                    </div>
                    <div ng-if="complaint.queixa == 'SERVICO_GERAL'">
                        <legend>Queixa Serviço Geral</legend>
                        <div class="form-group row">
                            <label for="inputReclamacao" class="col-sm-2 col-form-label">Reclam.:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="reclamacao" id="inputReclamacao" ng-model="complaint.solicitante.endereco.uf" placeholder="Reclamação"> <!--Tem que alterar o ng-model-->
                            </div>
                        </div>
                        <!--Street field-->
                        <div class="form-group row">
                            <label for="inputStreet" class="col-sm-2 col-form-label">Rua:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="street" id="inputStreet" ng-model="complaint.solicitante.endereco.rua" placeholder="Rua">
                            </div>
                        </div>
                        <!--City field-->
                        <div class="form-group row">
                            <label for="inputCity" class="col-sm-2 col-form-label">Cidade:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="city" id="inputCity" ng-model="complaint.solicitante.endereco.cidade" placeholder="Cidade">
                            </div>
                        </div>
                        <!--UF field-->
                        <div class="form-group row">
                            <label for="inputUf" class="col-sm-2 col-form-label">UF:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" name="uf" id="inputUf" ng-model="complaint.solicitante.endereco.uf" placeholder="UF">
                            </div>
                        </div>
                    </div>
                </fieldset>
                <button class="btn btn-primary btn-block" ng-click="registerComplaint(complaint)">Adicionar Queixa</button>
            </div>
        </form>
    </div>
</div>
