<div class="container center-block">
	<div class="row">
		<div class="col-sm-4 thumbnail">
		<center>
		<h3>Mudar estado da prefeitura</h3>
		
		<button type="button" ng-click="changeToNormal()" class="btn btn-success">Normal</button>
		<button type="button" ng-click="changeToExtra()" class="btn btn-warning">Extra</button>
		<button type="button" ng-click="changeToCaos()" class="btn btn-danger">Caos</button>
		<p><h3>Situação atual das queixas: 
            <span class="label {{situation.color}}"> {{situation.status}}</span>
        	</h3></p>
        </center>
		</div>

		<div class="col-sm-4 thumbnail">
		<h3>Cadastrar nova US</h3>
		<p><input type="text" class="form-control" ng-model="us.descricao" placeholder="Descrição"></p>
		<p><input type="text" class="form-control" ng-model="us.numeroPacientesDia" placeholder="Numero de pacientes/dia"></p>
		<p><input type="text" class="form-control" ng-model="us.numeroMedicos" placeholder="Numero de medicos"></p>
		<p><input type="text" class="form-control" ng-model="us.bairro" placeholder="Bairro"></p>
		<p>Tipo: <select class="selectpicker" ng-model="us.type" >
 			<option value="Hospital">Hospital</option>
 			<option value="Posto de Saude">Posto de saúde</option>
		</select></p>
		<p><button type="button" ng-click="registerUS(us)" class="btn btn-primary btn-lg btn-block">Cadastrar</button></p>
		</div>


		<div class="col-sm-4 thumbnail">
       		<h3>Situação atual das queixas: 
            <span class="label {{situation.color}}"> {{situation.status}}</span>
        	</h3>
		</div>
	</div>


</div>
